.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 40px;
}
.button {
  background-color: var(--btn-color);
  color: #ffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 5px;
  min-width: 170px;
  padding: 0 16px;
  border-radius: 8px;
  transition: all 0.3s;
  border: none;
  font-size: 14px;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  text-transform: none;
  cursor: pointer;
}
.button:hover {
  background-color: #01875f;
}
.buttons .btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.button svg {
  margin-top: 5px;
  fill: #ffff;
}
.buttons .btn svg {
  fill: #00a173;
}

@media screen and (max-width: 600px) {
  .btn svg {
    display: none;
  }
  .install_btn {
    width: 100%;
  }
  .buttons {
    display: block;
  }
}
