.wrap {
  border-right: 1px solid var(--boder-color);
}
#list li:hover {
  background-color: var(--hover-color);
}
#list li {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding: 12px 20px;
  margin: 12px 16px 0 0;
}

#list li span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
