.buttons {
  display: flex;
  align-items: center;
  padding-top: 30px;
  gap: 0.8rem;
}
.buttons button {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--box-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 40px;
  width: 40px;
}
.buttons svg {
  fill: var(--primary-color);
}
button:hover {
  background-color: var(--hover-color);
}
@media screen and (max-width: 600px) {
  .buttons {
    margin-left: auto;
  }
}
