.buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.mode_icon {
  margin-left: auto;
  align-items: center;
  align-self: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  max-width: 42px;
  min-width: 42px;
  width: 100%;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: var(--star-color);
  outline: none;
}
.mode_icon:hover {
  background-color: var(--hover-color);
}
.mode_icon svg {
  height: 24px;
  width: 24px;
  stroke: currentColor;
}
.search_icon {
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  justify-content: center;
  margin-left: auto;
  max-width: 24px;
  min-width: 24px;
  width: 100%;
  margin-left: 0;
  background-color: transparent;
  border: 0;
  color: var(--star-color);
  outline: none;
  display: none;
}
.search_icon i {
  align-items: center;
  color: inherit;
  display: flex;
  height: 24px;
  justify-content: center;
  max-width: 42px;
  min-width: 42px;
}
.search_icon svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}
.humburger_btn {
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  justify-content: center;
  margin-left: auto;
  max-width: 32px;
  min-width: 32px;
  width: 100%;
  margin-left: 0;
  background-color: transparent;
  border: 0;
  color: var(--star-color);
  outline: none;
  display: none;
}
.humburger_btn i {
  align-items: center;
  color: inherit;
  display: flex;
  height: 24px;
  justify-content: center;
  max-width: 24px;
  min-width: 24px;
}

@media screen and (max-width: 1170px) {
  .search_icon {
    display: flex;
  }

  .mode_icon {
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .humburger_btn {
    display: flex;
  }
  .search_icon {
    margin-left: auto;
  }
}
