.image img {
  border-radius: 18px;
}
.iteam {
  display: flex;
  gap: 1.8rem;
}
.text h2 {
  font-size: 44px;
  font-family: Roboto;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
}
.text h5 {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 600;
  color: #00a173;
  padding-top: 15px;
}
.text p {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  color: rgb(154, 160, 166);
}

@media screen and (max-width: 768px) {
  .image img {
    height: 75px;
    width: 75px;
  }
  .text h2 {
    font-size: 30px;
  }
  .text h5 {
    padding: 4px 0px;
  }
}
@media screen and (max-width: 600px) {
  .image img {
    height: 65px;
    width: 65px;
  }
  .text h2 {
    font-size: 24px;
  }
  .text h5 {
    padding-top: 0px !important;
  }
  .text p {
    padding-top: 3px;
  }
}
@media screen and (max-width: 400px) {
  .text h2 {
    font-size: 20px;
  }
  .text h5 {
    font-size: 12px;
  }
  .text p {
    font-size: 10px;
  }
}
