.catagory {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.text {
  background-color: var(--box-color);
  border: 1px solid var(--boder-color);
  border-radius: 21px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 24px;
  padding: 10px 19px;
  text-align: center;
  text-overflow: ellipsis;
}

.text:hover {
  background-color: var(--hover-color);
}

.title {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
  margin-top: 55px;
}

.title h2 {
  color: var(--heading-color);
  font-size: 24px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
}

.title img {
  border-radius: 50%;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

@media screen and (max-width: 600px) {
  .catagory {
    display: none;
  }

  .title h2 {
    font-size: 20px;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .catagory {
    gap: 0.3rem;
    padding-top: 2px;
  }
}
