.layout_wrap {
  display: flex;
  gap: 1rem;
  padding: 0 10px;
  min-height: 100vh;
}
.layout_main {
  flex: 4;
}

.layout_sidebar {
  flex: 1;
  background-color: var(--box-color);
  position: sticky;
  top: 100px;
  border-radius: 12px;
}

@media screen and (max-width: 1024px) {
  .layout_sidebar {
    display: none;
  }
  .layout_main {
    width: 100%;
  }
}
