.layout_wrap {
  display: flex;
  gap: 1rem;
}
.layout_main {
  width: 60%;
}
.left {
  position: sticky;
  top: 10%;
  height: 480px;
}
.layout_sidebar {
  width: 22%;
  background-color: var(--box-color);
  width: 20%;
  position: sticky;
  top: 100px;
  border-radius: 12px;
}

@media screen and (max-width: 1024px) {
  .layout_sidebar {
    display: none;
  }
  .layout_main {
    width: 100%;
  }
}
