.title {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title h2 {
  font-size: 22px;
  color: var(--primary-color);
  font-family: Roboto;
  font-weight: 600;
}
.wrapper {
  background-color: var(--box-color);
  padding: 40px;
  border-radius: 12px;
}
.wrapper:nth-child(2),
.wrapper:nth-child(3) {
  margin-top: 40px;
}
