.sliderIteam {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  padding: 12px;
  transition: all 0.3s;
  border-radius: 10px;
  height: 230px;
  width: 164px;
}
.sliderIteam:hover {
  background-color: var(--hover-color);
}

.sliderIteam img {
  border-radius: 20%;
  border-width: 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  margin-bottom: 12px;
}

.sliderIteam h3 {
  color: var(--heading-color);
  fill: var(--heading-color);
  stop-color: var(--heading-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  line-height: 20px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin-bottom: 5px;
  white-space: pre-wrap;
  font-family: Roboto;
}
.sliderIteam p {
  line-height: 20px;
  font-weight: 400;
  color: var(--star-color);
  letter-spacing: 0.2px;
  font-family: Roboto;
}
.sliderIteam .rating {
  color: var(--star-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.0142857143em;
  line-height: 1.25rem;
  letter-spacing: 0.2px;
}
