.cardListIteam {
  height: 64px;
  margin-bottom: 16px;
  cursor: pointer;
}
.cardIteamContent {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.cardIteamContent:hover {
  background-color: var(--hover-color);
}
.sCatagory {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cardId {
  width: 36px;
  height: 30px;
  margin-right: 9px;
  display: flex;
  color: var(--star-color);
  font-size: 24px;
  font-weight: 700;
  opacity: 0.4;
}
.digit {
  font-size: 20px;
  margin-left: 0;
}
.imgWrapper {
  width: 64px;
  height: 64px;
}
.svgWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.gameIcon {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  vertical-align: middle;
  border-style: none;
}
.cardDes {
  flex: 1;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
}
.cardTitle {
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardSubTitle {
  margin-top: 4px;
  line-height: 16px;
  font-size: 14px;
  color: var(--star-color);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.catagoryBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
