.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 40px;
}
.install_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 160px;
  padding: 0 16px 0 16px;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: #00a173;
  border: none;
  font-size: 14px;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  color: #202124;
  text-transform: none;
  font-family: Roboto;
  cursor: pointer;
}
.install_btn:hover {
  background-color: #01875f;
}
.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn svg {
  fill: #00a173;
}

@media screen and (max-width: 600px) {
  .btn svg {
    display: none;
  }
  .install_btn {
    width: 100%;
  }
  .buttons {
    display: block;
  }
}
