.btn {
  background-color: #00a173;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.00625em;
  font-weight: 500;
  height: 44px;
  margin: 2px 0 0;
  min-height: 44px;
  min-width: 200px;
  padding: 10px 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn:hover {
  background-color: #008861;
}
.share {
  display: flex;
  gap: 10px;
  color: rgb(0, 179, 128);
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.share svg {
  fill: #00a173;
}
.share:hover {
  color: #00a173;
  background-color: var(--hover-color);
}
@media screen and (max-width: 1280px) {
  .share {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 22px;
  }
  .para {
    font-size: 14px;
    width: 100%;
  }
  .rating {
    display: none;
  }
  .btn {
    font-size: 14px;
  }
  .btn svg {
    width: 16px;
    height: 16px;
  }
}
