.wrapper {
  background-color: var(--box-color);
  padding: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 12px;
}

.title h2 {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 5px;
  color: var(--primary-color);
}
.title a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
  color: var(--star-color);
}
.title a:hover {
  color: #05856e;
  text-decoration: underline;
}
.button {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  gap: 10px;
  justify-content: center;
  line-height: 1.4;
  max-width: max-content;
  min-height: 4.8rem;
  min-width: 120px;
  padding: 0.6rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  border: 1px solid #05856e;
  color: #05856e;
  cursor: pointer;
}
.button:hover {
  background-color: #05856e;
  color: #ffff;
}
.icon {
  --icon-size: 16px;
  align-items: center;
  color: inherit;
  display: flex;
  height: var(--icon-size);
  justify-content: center;
  max-width: var(--icon-size);
  min-width: var(--icon-size);
}

.download_help {
  margin-top: 2.4rem;
}
.download_help li {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 4px;
  margin-bottom: 1rem;
  list-style: none;
}
.download_help li span {
  color: var(--primary-color);
}
.download_help li a {
  color: var(--primary-color);
}
.download_help li a:hover {
  color: #05856e;
}
@media screen and (max-width: 600px) {
  .title h2 {
    font-size: 18px;
  }
  .wrapper {
    padding: 20px;
  }
  .title a {
    font-size: 14px;
  }
}
