.title {
  color: black;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Roboto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.giItem {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  flex: 0 0 100%;
  max-width: 100%;
  gap: 1rem;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.itemImg {
  border-radius: 15px;
}
.itemTitle {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.itemMeta a {
  color: gray;
  font-size: 10px;
}
.contentbar {
  width: 25%;
  position: sticky;
  top: 0;
  height: 100%;
  margin-top: 200px;

  /* padding: 20px 20px; */
}
.firstside {
  background-color: var(--box-color);
  padding: 20px 20px;
  border-radius: 12px;
}
.sideNav {
  margin: 15px 0;
}
.sidemenu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}
.sideList {
  list-style: none;
  text-align: left;
}
.sideList a {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
