.veiw {
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  color: var(--star-color);
  display: inline-flex;
  font-weight: 700;
  margin-left: 12px;
  transition: all 0.2s;
  margin-top: 2px;
  gap: 0.5rem;
  font-size: 1.2rem;
  border-radius: 30px;
  padding: 7px 10px;
}

.veiw:hover {
  background-color: var(--hover-color);
}
.veiw span {
  text-decoration: none;
}
.greaterIcon {
  display: flex;
  align-items: center;
  opacity: 100;
  color: var(--star-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrapperBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--secondary-color);
  --bs-gutter-x: 1.5rem;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  padding: 3rem;
  border-radius: 15px;
}

/* .fix {
  display: flex;
  gap: 5rem;
} */
.sidebar {
  background-color: var(--secondary-color);
  width: 20%;
  position: sticky;
  top: 0;
  height: 444px;
}
