.mainWrapper {
  padding-top: 20px;
}
.posts {
  margin-top: 90px;
  background-color: var(--box1-color);
  border-radius: 12px;
}
.crumblist {
  align-items: center;
  display: flex;
  font-size: 13.6px;
  list-style: none;
  padding-left: 60px;
  padding-top: 25px;
}
.crumbiteam,
.nuicrumbiteam {
  display: flex;
}
.crumbiteam a {
  align-items: center;
  column-gap: 0.25rem;
  font-size: 13.6px;
  display: flex;
  color: rgb(154, 160, 166);
}
.crumbiteam a:hover {
  text-decoration: underline;
}
.crumbiteam a img {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 16px;
  justify-content: center;
  width: 16px;
}
.inneriteam {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  display: flex;
  font-size: 13.6px;
}

.postWrapper {
  padding: 60px;
  display: flex;
  justify-content: space-between;
}
.gameImage img {
  border-radius: 18px;
}
.gameiteam {
  display: flex;
  gap: 1.8rem;
}
.gametext h2 {
  font-size: 44px;
  font-family: Roboto;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
}
.gametext h5 {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 600;
  color: #00a173;
  padding-top: 15px;
}
.gametext p {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  color: rgb(154, 160, 166);
}
.postrating {
  display: flex;
  align-items: center;
  height: 64px;
  padding-top: 30px;
}
.gamerating {
  padding-right: 16px;
  text-align: center;
}
.gamerating svg {
  fill: #fff;
  padding-left: 3px;
}

.postrating .ratingtitle {
  font-size: 14px;
  color: rgb(232, 234, 237);
  font-weight: 600;
  text-align: center;
}
.postrating p {
  font-family: Roboto, Arial, sans-serif;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.025em;
  font-weight: 400;
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  white-space: nowrap;
  color: rgb(154, 160, 166);
}
.downloads {
  padding: 0 24px;
  text-align: center;
}
.rated {
  padding: 0 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 40px;
}
.btns .install {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 160px;
  padding: 0 16px 0 16px;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: #00a173;
  border: none;
  font-size: 14px;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  color: #202124;
  text-transform: none;
  font-family: Roboto;
  cursor: pointer;
}
.btns .install:hover {
  background-color: #01875f;
}
.btns .sharebtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.sharebtn svg {
  fill: #00a173;
}
.text {
  padding-top: 40px;
  display: flex;
  align-items: center;
  color: rgb(154, 160, 166);
  gap: 4px;
  flex-wrap: wrap;
}
.text p {
  font-size: 12px;
  font-family: Roboto;
  color: rgb(154, 160, 166);
}
.text2 {
  display: flex;
  align-items: center;
}
.text2 a {
  color: rgb(154, 160, 166);
  text-decoration: underline;
  font-size: 12px;
  font-family: Roboto;
  padding-left: 2px;
}
.postDetail {
  background-color: var(--box-color);
  margin-top: 30px;
  padding: 40px;
  border-radius: 12px;
}

.aboutgame {
  padding-top: 20px;
  margin-bottom: 20px;
}
.aboutTile {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.aboutTile h2 {
  font-size: 22px;
  color: var(--primary-color);
  font-family: Roboto;
  font-weight: 600;
}
.gamedes {
  font-size: 14px;
  color: var(--star-color);
  font-family: Roboto;
  line-height: 25px;
}
.datawrapper {
  border-radius: 8px;
  border: 1px solid rgb(233, 235, 235);
  margin-top: 30px;
  padding: 20px 20px 20px;
}
.dataiteam {
  align-items: flex-start;
  display: flex;
  padding-top: 20px;
}

.dataiteam img {
  margin-right: 20px;
}
.datades {
  color: rgb(95, 99, 104);
  font-family: Roboto, Arial, sans-serif;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.025em;
  font-weight: 400;
}
.datatitle {
  color: rgb(95, 99, 104);
  font-family: Roboto, Arial, sans-serif;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.025em;
  font-weight: 400;
}
.datades a {
  color: rgb(95, 99, 104);
  font-family: Roboto, Arial, sans-serif;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.025em;
  font-weight: 400;
  text-decoration: underline;
}
.dataiteam1 {
  align-items: flex-start;
  display: flex;
}
.dataiteam1 img {
  margin-right: 20px;
}

.similargame {
  background-color: var(--box-color);
  margin-top: 40px;
  padding: 40px;
  border-radius: 12px;
}
.title2 {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title2 h2 {
  font-size: 22px;
  color: var(--primary-color);
  font-family: Roboto;
  font-weight: 500;
}
.title1 {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title1 h2 {
  font-size: 22px;
  color: var(--primary-color);
  font-family: Roboto;
  font-weight: 500;
}
.arrow {
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 50%;
}
.arrow:hover {
  background-color: var(--hover-color);
}
.Sidebar {
  background-color: var(--box-color);
  width: 20%;
  position: sticky;
  top: 0;
  height: 451px;
  margin-top: 110px;
  border-radius: 12px;
}
.line {
  height: 24px;
  border-left: 1px solid #3c4043;
}
.sliderimage img {
  width: 100%;
  height: 100%;
}
.sliderimage {
  position: relative;
}
.sliderControls button:nth-child(1) {
  position: absolute;
  top: 50%;
  z-index: 9999;
  transform: translate(0%, -50%);
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: none;
  background: var(--box-color);
  left: 5px;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  cursor: pointer;
}
.sliderControls button:nth-child(2) {
  position: absolute;
  top: 50%;
  z-index: 9999;
  transform: translate(0%, -50%);
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: none;
  background: var(--box-color);
  right: 5px;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .Sidebar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .postWrapper {
    padding: 80px 25px;
  }
  .gameImage img {
    height: 75px;
    width: 75px;
  }
  .gametext h2 {
    font-size: 30px;
  }
  .gametext h5 {
    padding: 4px 0px;
  }
  .qrcode {
    display: none;
  }
  .crumblist {
    padding-left: 25px;
  }
}

@media screen and (max-width: 600px) {
  .gameImage img {
    height: 65px;
    width: 65px;
  }
  .gametext h2 {
    font-size: 24px;
  }
  .gametext h5 {
    padding-top: 0px !important;
  }
  .gametext p {
    padding-top: 3px;
  }
  .sharebtn svg {
    display: none;
  }
  .install {
    width: 100%;
  }
  .btns {
    display: block;
  }
  .text {
    padding-top: 10px;
  }
  .text2 a {
    display: none;
  }
  .postDetail {
    padding: 20px;
  }
  .sliderControls button:nth-child(1) {
    height: 36px;
    width: 36px;

    left: 2px;
  }
  .sliderControls button:nth-child(2) {
    height: 36px;
    width: 36px;
    right: 2px;
  }
}
@media screen and (max-width: 400px) {
  .gametext h2 {
    font-size: 20px;
  }
  .gametext h5 {
    font-size: 12px;
  }
  .gametext p {
    font-size: 10px;
  }
  .postWrapper {
    min-height: 100%;
    padding: 70px 20px;
  }
  .downloads {
    padding: 0 16px;
  }
  .rated {
    padding: 0 16px;
  }
  .gamerating {
    padding-right: 12px;
  }
}
