.wrapper {
  display: flex;
  align-items: center;
}
.slider {
  margin-top: 40px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider {
  background-color: var(--box-color);
  padding: 5px 20px;
  border-radius: 12px;
  padding: 20px 20px 20px;

  margin-bottom: 0px !important;
}
.title {
  align-items: center;
  display: flex;
  gap: 1rem;
}
.title h2 {
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  color: var(--heading-color);
  line-height: 32px;
  text-transform: capitalize;
  padding-left: 20px;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .title h2 {
    font-size: 20px;
    font-weight: 600;
  }
}
