.cards {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper {
  display: flex;
  margin-right: -24px;
  margin-bottom: -12px;
  flex-wrap: wrap;
}
.card {
  margin-right: 24px;
  margin-bottom: 12px;
}
.card_wrapper {
  border: 1.5px solid transparent;
  margin-right: 0;
  height: 510px;
  margin-right: 24px;
  margin-bottom: 12px;
  border-radius: 8px;
  position: relative;
  width: 100%;
}
.card_content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  background-color: var(--box-color);
}
.head_img {
  display: inline-block;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  vertical-align: middle;
  border-style: none;
}
.card_img {
  width: 200px;
  height: 100px;
  position: absolute;
  right: 0;
  top: -15px;
  vertical-align: middle;
  border-style: none;
  display: inline-block;
  user-select: none;
}
.card_title {
  color: var(--primary-color);
  position: absolute;
  left: 16px;
  top: 19px;
  font-size: 24px;
  font-weight: 500;
}
.card_div {
  background: linear-gradient(rgb(33, 34, 35) 0%, rgba(33, 34, 35, 0) 100%);
  background: linear-gradient(rgb(33, 34, 35) 0%, rba(33, 34, 35, 0) 100%);
  display: none;
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 85px;
  z-index: 10;
}
.list {
  position: absolute;
  width: 100%;
  height: calc(100% - 85px);
  left: 0px;
  top: 85px;
  background: transparent;
  padding-right: 4px;
  z-index: 9;
}
.rank_list {
  width: 100%;
  height: 100%;
  margin-right: -4px;
  overflow-y: auto;
  /* visibility: hidden; */
}
.rank_list::-webkit-scrollbar {
  width: 5px;
}
.rank_list::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 999px;
  visibility: hidden;
}
.list:hover {
  .rank_list::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}
